.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local\
.env
/.env
/src/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
dist/
coverage

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
Web/.env.development.local
Web/coverage