package-lock=false
strict-ssl=false
proxy=http://proxy.nas.medcity.net:80
https-proxy=http://proxy.nas.medcity.net:80
noproxy=*.medcity.net,*.hca.corpad.net,localhost,127.0.0.1
registry=https://registry.npmjs.org/
@neutron:registry=http://nexus.hca.corpad.net/repository/hca-npm-innersource
@hca-ocoe:registry=https://npm.pkg.github.com
